fastapi==0.128.0
uvicorn[standard]==0.40.0
sqlmodel==0.0.32
SQLAlchemy==2.0.46
pydantic==2.12.5
pydantic-settings==2.12.0
python-dotenv==1.2.1
reportlab==4.4.9
aiofiles==25.1.0
psycopg2-binary==2.9.11
Pillow==12.1.0
